// Silent classes
// ------------------------------------------------------------

%full-bleed {
  padding: 0;
}


// Baseline
// ------------------------------------------------------------

html { 
  font-size: 87.5%;
  @include breakpoint(768px) { font-size: 100% }
}

body { 
  font: 300 1em/1.5 "proxima-nova",sans-serif;
  background: $white;
  color: $light-black;
}


// Type
// ------------------------------------------------------------

h1, .h1 {
  font-size: golden-ratio(16px, 2);
  line-height: 1.2;
  margin: $unit 0 $unit/2;
}

h2, .h2 {
  font-size: golden-ratio(16px, 1);
  line-height: 1.3;
  margin: $unit 0 $unit/2;
}


// Navigation
// ------------------------------------------------------------

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}


// Grid
// ------------------------------------------------------------

.container {
  @include outer-container;
  // width: $container-width;
  max-width: $container-max-width;
  padding: 0 $unit*1.5;
  @include transition (.3s);

  @include media($container-max-width+$unit*4) {
    padding: 0;
  }
}


// Demo
// ------------------------------------------------------------

.featured {

  .container {
    @extend %full-bleed;
  }
}

.rad {
  @include breakpoint(768px) {
    @include span-columns(6);
  }
}