// Variables
// ------------------------------------------------------------


// Colors

$brand-blue           :     #2379cf;

$black                :     #000;
$light-black          :     #444;
$dark-gray            :     #999;
$gray                 :     #ccc;
$light-gray           :     #ddd;
$white-smoke          :     #eee;
$white                :     #fff;

$link-color           :     #2379cf;
$link-hover-color     :     darken($link-color, 10%);

$selection-color      :     #FF69B4;


// Grid Settings

$unit                 :     1em;

$container-width      :     90%; // Currently not using this variable
$container-max-width  :     68.75em; // 68.75em = 1000px / 75em = 1200px


// Dev Mode

$dev-mode             :     false;