// Variables
// ------------------------------------------------------------


// Colors

$selection-color      :     #fb9fe5;

$background-color     :     #fff;
$font-color           :     #444;

$link-color           :     #2379cf;
$link-hover-color     :     #123e69;


// Grid Settings

$container-width      :     90%;
$container-max-width  :     1600px;

$gutter               :     1.5em;


// Dev Mode

$dev-mode             :     false;